<h1>SignUp Place</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="passport" name="password" placeholder="password">
    <button>Submit</button>
</form>

<li><a href="/register">SignUp</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>